* text=auto

/.editorconfig     export-ignore
/.gitattributes    export-ignore
/.github           export-ignore
/.gitignore        export-ignore
/phpstan.src.neon  export-ignore
/.php_cs           export-ignore
/README.md         export-ignore
/CHANGELOG.md      export-ignore
/CONDUCT.md        export-ignore
